body {
    background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
    color: #fff;
   
  }
  header {
    text-align: center;
    margin-top: 50px;
  }
  .logo img {
    width: 200px;
  }
  .main {
    text-align: center;
  }
  .galaxy-bg {
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #start-btn {
    font-size: 20px;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #start-btn:hover {
    background-color: #fff;
    color: #000;
  }
  a{
    text-decoration: none;
  }